@page
@model Mascota_Feliz.App.Presentacion.Pages.DetailsModelVisita
@{
}


<br>
<h5>Seleccione una de las siguientes opciones:</h5>
<br>
  <td>
    <a class="btn btn-info" asp-page = "./Create" >Registras visita de PyP</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
    </td>
@*
    <td>
    <a class="btn btn-info" asp-page = "./List" >Listas de Medico Veterinario</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
*@

    <a type="button" class="btn btn-outline-primary" asp-area="" asp-page="/Index">Menú</a>
  </td>
  <br>
<center><img src="https://www.barakaldotiendaveterinaria.es/blog/wp-content/uploads/2021/11/tipos-de-mascotas-tener-en-casa.jpg"\><center>