@page
@model Mascota_Feliz.App.Presentacion.Pages.EditModelPropietario_Mascota
@{
}

<h5>Seleccione el Propietario de Mascota que desea editar:</h5>

<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>Propietario 1</option>
    <option>Propietario 2</option>
    <option>Propietario 3</option>
    <option>Propietario 4</option>
  </select>
</div>