@page
@model Mascota_Feliz.App.Presentacion.Pages.DetailsModelHistoriaClinica
@{
}


<br>
<h5>Seleccione una de las siguientes opciones:</h5>
<br>
  <td>
    <a class="btn btn-warning" asp-page = "./Create" >Crear Historia Clinica</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
    </td>
@*
    <td>
    <a class="btn btn-warning" asp-page = "./List" >Listas de Medico Veterinario</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
*@

    <a type="button" class="btn btn-outline-primary" asp-area="" asp-page="/Index">Menú</a>
  </td>
 
  <br>
<br>
<br>
<br>
<br>
   <center><img src="https://as.com/ocio/imagenes/2014/03/14/salud/1394790828_500499_1394791172_noticia_grande.jpg"><center>