@page
@model Mascota_Feliz.App.Presentacion.Pages.DetailsModelMedico_Veterinario
@{
}

<br>
<h5>Seleccione una de las siguientes opciones:</h5>
<br>
  <td>
    <a class="btn btn-danger" asp-page = "./Create" >Crear Medico Veterinario</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
    </td>
@*
    <td>
    <a class="btn btn-primary table-btn" asp-page = "./Edit" >Buscar Medico Veterinario</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
    </td>
*@
    <td>
    <a class="btn btn-danger" asp-page = "./List" >Listas de Medico Veterinario</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
    <a type="button" class="btn btn-outline-primary" asp-area="" asp-page="/Index">Menú</a>
  </td>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
   <center><img src="https://i0.wp.com/micompi.com/blog/wp-content/uploads/2014/05/nuugi_com.png?fit=566%2C451"\><center>