@page
@model Mascota_Feliz.App.Presentacion.Pages.DetailsModelMedico_Veterinario
@{
}


<h5>Seleccione una de las siguientes opciones:</h5>

  <td>
    <a class="btn btn-primary table-btn" asp-page = "./Create" >Crear Medico_Veterinario</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
    </td>

    <td>
    <a class="btn btn-primary table-btn" asp-page = "./Edit" >Editar Medico_Veterinario</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
    </td>

    <td>
    <a class="btn btn-primary table-btn" asp-page = "./List" >Listas de Medico_Veterinario</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
  </td>