@page
@model Mascota_Feliz.App.Presentacion.Pages.EditModelMedico_Veterinario
@{
}

<h5>Seleccione el Medico Veterinario que desea editar:</h5>

<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>Veterinario 1</option>
    <option>Veterinario 2</option>
    <option>Veterinario 3</option>
    <option>Veterinario 4</option>
  </select>
</div>

<br>
<br>
<a class="btn btn-outline-info" asp-page = "./Details" >Regresar</a>