@page
@model Mascota_Feliz.App.Presentacion.Pages.CreateModelMascota
@{
}

<h2>Ingrese los datos de la Mascota</h2>
<form method="post">
  <div class="mb-3">
    <label>Nombre de la Mascota</label>
    <input asp-for = "mascota.Nombre_Mascota" type="text" class="form-control" required ="required">
     </div>

      <div class="mb-3">
    <label>Especie</label>
    <input asp-for = "mascota.Especie"type="text" class="form-control" required ="required">
     </div>

     <div class="mb-3">
    <label>Raza</label>
    <input asp-for = "mascota.Raza"type="text" class="form-control" required ="required">
     </div>

    <div class="mb-3">
    <label>Color</label>
    <input asp-for = "mascota.Color"type="text" class="form-control" required ="required">
     </div>
    
<div class="form-group">Seleccione el Propietario de la Mascota:
  <br>
    <select name= "idpropietario" class="form-control" id="idpropietario" asp-for="propietario.id">
    <option>Seleccione:</option>
    
@foreach (var _Propietario in Model.propietarios)

{
   <option value="@_Propietario.id">@_Propietario.Nombres_Propietario</option>
}

    </select>
</div>
<br>

<div class="form-group">Seleccione el Médico Veterinario:
  <br>
    <select name= "idveterinario" class="form-control" id="idveterinario" asp-for="veterinario.id">
    <option>Seleccione:</option>
    
@foreach (var _Veterinario in Model.veterinarios)

{
   <option value="@_Veterinario.id">@_Veterinario.Nombre_Veterinario</option>
}

    </select>
</div>
        
  <button type="submit" class="btn btn-outline-success">Guardar</button>
  <a class="btn btn-outline-info" asp-page = "./Details" >Regresar</a>
</form>