@page
@model Mascota_Feliz.App.Presentacion.Pages.DetailsModelMascota
@{
}

<h5>Seleccione una de las siguientes opciones:</h5>
<br>
<h6>Antes de crear una nueva mascota debes verificar que el Propietario y el Médico Veterinario ya estén creados en el sistema.</h6>
<br>
  <td>
    <a class="btn btn-primary table-btn" asp-page = "./Create" >Crear Mascota</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
    </td>

    <td>
    <a class="btn btn-primary table-btn" asp-page = "./Edit" >Editar Mascota</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
    </td>

    <td>
    <a class="btn btn-primary table-btn" asp-page = "./List" >Listas Mascotas</a>
    <i class="fas fa-trash_circle fa-lg" ></i>
  </td>