@page
@model Mascota_Feliz.App.Presentacion.Pages.DetailsModelMascota
@{
}

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre Mascota</label>
    <input type="text" class="form-control" required ="required">
     </div>
      <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Raza</label>
    <input type="text" class="form-control" required ="required">
     </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>