@page
@model Mascota_Feliz.App.Presentacion.Pages.EditModelMascota
@{
}

<h5>Seleccione la Mascota que desea editar:</h5>

<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>Mascota 1</option>
    <option>Mascota 2</option>
    <option>Mascota 3</option>
    <option>Mascota 4</option>
  </select>
</div>