@page
@model Mascota_Feliz.App.Presentacion.Pages.ListModelMascota
@{
}

<h2>Zona de Mascotas</h2>

<div>
    <a class="btn btn-primary table-btn" asp-page = "./Details" ></a>
    <i class="fas fa-trash_circle fa-lg" ></i>
 </div>