@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Mascota Feliz</h1>
    <p>MINTIC - UNICALDAS <a href="https://misiontic.ucaldas.edu.co//">COLDEVSTRONG 2022</a>.</p>
</div>
