@page
@model PrivacyModel
@{
    ViewData["Title"] = "Desarrollado por:";
}
<h1>@ViewData["Title"]</h1>

<p>Este Proyecto fue desarrollado porel equipo ColDevStrong 2022</p>

<head>       
        <meta charset="utf-8">
        <title>Ejemplo del uso de listas - aprenderaprogramar.com</title>
    </head>
    <body>
<ul>
<li type="square">Juan Enrique Cruz</li>
<li type="square">Yeisson Rozo Quevedo</li>
<li type="square">Mery Hueso Ramirez</li>
<li type="square">Pierre Niño Forero</li>
<li type="square">Edixon Figueroa Mujica</li>
</ul>
</body>
